body{
  font-family: Comfortaa;
  font-size: 16px;
<<<<<<< HEAD
  background-color: #696969;
=======
>>>>>>> 341cb104ac93c435a040116c449ca29116b74d50
}

h1{
  text-align: center;
<<<<<<< HEAD
  font-family: "Noto Sans";
  padding: 3% 0;
  color: white;
  background: red;
  text-transform: uppercase;
=======
  font-family: Quicksand;
  padding: 3% 0;
>>>>>>> 341cb104ac93c435a040116c449ca29116b74d50
}
main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
<<<<<<< HEAD
  justify-content: space-evenly;
  text-align: center;
  color: #808080;

=======
  justify-content: space-around;
  text-align: center;
  color: #808080;
>>>>>>> 341cb104ac93c435a040116c449ca29116b74d50
}
main div{
  padding: 2%;
}
<<<<<<< HEAD

img{
  width: 300px;
}
.card{
  background-color: grey;
  width: 25%;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  perspective: 700px;
  display: flex;
  justify-content: space-evenly;
}

.front, .back {
  position: absolute;
  top:0;
  left:0;
  backface-visibility: hidden;
  width: 300px;
  height: 300px;
}
.back {
  transform:rotateY(180deg);
}
.flip{
  transform:rotateY(180deg);

}

p{
  color: white;
  padding: 13% 10%;
}
.card p{
  background-color: grey;

}
=======
>>>>>>> 341cb104ac93c435a040116c449ca29116b74d50
